@import "bourbon/bourbon";
@import "neat/neat";

$secondary-color: #383733;

body {
  padding-top:20vh;
  background-color:#3ABAE3;
  font-family:"cooper_hewittsemibold", "Helvetica", "Helvetica Neue", "Calibri", sans-serif;
  text-transform:lowercase;
  @include outer-container;
  padding-left:10%;
  @include media(max-width 570px) {
    padding-top:5vh;
    padding-left:7%;
  }
}

header {
  font-size:2em;
  font-family:"cooper_hewittmedium", "Helvetica", "Helvetica Neue", "Calibri", sans-serif;
  color:$secondary-color;
  padding-bottom:20vh;
  @include media(max-width 570px) {
    padding-bottom:5vh;
    font-size:1.6em;
  }
}

div#section-wrapper {
  @include span-columns(12);
}

section {
  @include span-columns(4);
  font-size:1.4em;
  @include media(max-width 570px) {
    @include span-columns(12);
    font-size:1.5em;
  }
}

section a {
  color:#F1F2F0;
  text-decoration:none;
  float:left;
  clear:both;

  &:hover {
    color:$secondary-color;
  }
}

@font-face {
  font-family: 'cooper_hewittmedium';
  src: url('../fonts/cooperhewitt-medium-webfont.eot');
  src: url('../fonts/cooperhewitt-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
  url('../fonts/cooperhewitt-medium-webfont.woff') format('woff'),
  url('../fonts/cooperhewitt-medium-webfont.ttf') format('truetype'),
  url('../fonts/cooperhewitt-medium-webfont.svg#cooper_hewittmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cooper_hewittsemibold';
  src: url('../fonts/cooperhewitt-semibold-webfont.eot');
  src: url('../fonts/cooperhewitt-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'), 
  url('../fonts/cooperhewitt-semibold-webfont.woff') format('woff'),
  url('../fonts/cooperhewitt-semibold-webfont.ttf') format('truetype'),
  url('../fonts/cooperhewitt-semibold-webfont.svg#cooper_hewittsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

